<html lang="en">

<head>
  <title>Service Bus Client</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  <div class="container text-center content">
    <h3>Service Bus Client</h3><br>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <div id="react-root">
          <% if (process.env.NODE_ENV === 'production') { %>
          <script src="/client/client.js"></script>
          <% } else { %>
          <script src="http://localhost:10001/client.js"></script>
          <% } %>
        </div>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
  </div>

</body>

</html>